

<div class="main-content">
    <div class="container-fluid">

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nueva Venta</h4>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" placeholder="Cliente" [(ngModel)]="nombre">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>CI/RUC</label>
                                    <input type="text" #text2  class="form-control" placeholder="CI/RUC" [(ngModel)]="documento" (change)="buscarCliente($event,text)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    <input type="number" style='-moz-appearance:textfield;' class="form-control" placeholder="Cantidad" [(ngModel)]="cantidad">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input type="text" #text class="form-control" placeholder="Código" [(ngModel)]="codigo" (change)="buscarProducto($event,text)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button style='margin-top:15%' type="submit" class="btn btn-info btn-fill pull-right" (click)="mostrarPopUp()">Platos</button>
                                        
                            </div>
                        </div>
                       

                    </div>
                    <div class="content table-responsive table-full-width">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-striped">         
                            <ng-container matColumnDef="codigo">
                              <th mat-header-cell *matHeaderCellDef> Codigo </th>
                              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="descripcion">
                              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>
          
                            <ng-container matColumnDef="cantidad">
                              <th mat-header-cell *matHeaderCellDef> cantidad </th>
                              <td mat-cell *matCellDef="let element"> {{element.cantidad}}</td>
                            </ng-container>
                          
                            <ng-container matColumnDef="precio">
                              <th mat-header-cell *matHeaderCellDef> precio </th>
                              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                            </ng-container>
                            <ng-container matColumnDef="subtotal">
                                <th mat-header-cell *matHeaderCellDef> subtotal </th>
                                <td mat-cell *matCellDef="let element"> {{element.subtotal}} </td>
                              </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group" style='margin-top:9%'>
                            <h3>Total</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            
                            <input readonly   style='margin-top:9% ; -moz-appearance:textfield;' type="number" class="form-control" placeholder="" [(ngModel)]="total">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p class="category"></p>
                    <button style='margin-top:8%' type="submit" class="btn btn-info btn-fill pull-right" (click)="guardarVenta(text2)">Finalizar</button>
                        
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button style='margin-top:15%' type="submit" class="btn btn-danger btn-fill pull-right" (click)="reiniciar(text2)">Reiniciar</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
</div>
